<p>Enter the Authors details : 

<%= link_to "Index", authors_path %>
<%= form_for @author do |f|  %>
<table>
	<tr>
		<td>Name :</td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td>Age :</td>
		<td><%= f.text_field :age %></td>
	</tr>
</table>
	

	<%= f.submit 'Submit' %>

<% end %>